<!DOCTYPE HTML>
<html>
  <head>
    <title>Webtechnik Group</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="rubylearning,ruby,ruby programming,ruby course,sinatra course, mpp, felix, jquery, lernen, IMIS, UNI Lübeck, Herczeg" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.3/themes/smoothness/jquery-ui.css">

    <link rel="icon" type="image/ico" href="/images/layout/favicon.ico" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.js"></script>    
    <script type="text/javascript" src="js/menu.js"></script>
    
  </head>
  <body>
    <div id="headerbg"></div>
    <div id="centerbox">
      <div id="top">
        
        <div id="header">
        </div>
        
        <div id="cats">
          <ul>
            <% index = 0; @cms.pages.each do |name,page| index += 1%>
              <a href="#<%= name %>" class="catlink"><li class="cattab" style="background-color:<%= page[:color]%>;"><%= name %></li></a>
            <%end%>
          </ul>
        </div>
      </div> <!-- end of top div-->

      <div id="pages">
        <% @cms.pages.each do |name,page| %>
          <div id="page-<%= name %>" class="page" style="display: none;">
            <% page[:subpages].each do |subpage| %>
              <a href="#<%=name%>/<%= subpage %>"><span class="pagetab"><%= subpage %></span></a>
            <%end%>
          </div>
        <%end%>
      </div>

      <div id="content">
        <%= yield %>
      </div>

      <div id="bottom">

      <table class="bottom">
      <colgroup>
        <col style="width:250px;">
        <col style="width:80px;">
        <col style="width:200px;">
        <col style="width:100px;">
        <col style="width:100px;">
        <col style="width:100px;">	
      </colgroup>
      <tr>
      <td colspan="3"><b>Webtechnik Group</b></td>
      <td rowspan="4">
        <a href="http://www.rss-verzeichnis.de/" target="_blank"><img src="/images/layout/rss.png" alt="RSS feed"></a></td>
      <td rowspan="4">
        <a href="http://de-de.facebook.com/" target="_blank"><img src="/images/layout/facebook.png" alt="Facebook.com"></a></td>
      <td rowspan="4">
        <a href="https://twitter.com/" target="_blank"><img src="/images/layout/twitter.png" alt="Twitter.com"></a></td>
      </tr>
      <tr>
      <td>Marvin, Florian und Christoph</td>
      <td>Telefon</td>
      <td>+49 451-500 5101/5103</td>
      </tr>
      <tr>
      <td>Ratzeburger Allee 160</td>
      <td>E-Mail</td>
      <td>info@webtechnik-group.de</td>
      </tr>
      <tr>
      <td>D-23562 L&uuml;beck</td>
      <td>Web</td>
      <td>webtechnik-group.de</td>
      </tr>
      </table>
    
      </div>
    </div>
    <div id="bottombg"></div>
  </body>
</html>
